<!DOCTYPE html>
<html>
	<head>
		<title>About</title>
		<link rel="stylesheet" href="./css/style.css"></link>
	</head>
	<body>
		<div class="main-content">
			{{>header}}
			<p>This site was created by Inbaraj. It uses data from mapbox.com and darksky</p>
			<img class="potrait" src="./img/mountain.jpg">
			
		<div>
		
		{{>footer}}
	</body>

</html>